.fun {
  height: 100vh;
  padding: 0 25vw;
  width: 50vw;
  position: relative;

  & > div {
    line-height: 150%;
    width: 50vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
